*{
    margin: 0;
    padding: 0;
   
}

body{
    display: flex;
    background-image: url("/ASSETS/bg/marek-pavlik-rr0HwwL52FQ-unsplash.jpg");
}


.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 40px;
    align-items: center;
    background-color:  hsl(0deg 0% 0% / 0.25);
    z-index: 1000;
    border-bottom: 0.2px solid #a9b56b; 
    backdrop-filter: blur(16px);
    pointer-events: auto;
    
}
    
.navContainer {
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}   


.logo {
    font-family: 'Jaini',sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    padding-right: 20px;
    margin-right: 100px;
}
    

.navWords{
    font-family: 'Jaini',sans-serif;
    position: relative;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
     text-decoration: none;
     color: #fff;      
     font-size: 20px;
     transition: color 0.15s ease-in-out;

}

.nav-right{
    font-family: 'Jaini',sans-serif;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;      
    font-size: 20px;

}
.widget{
    gap: 4rem;
    margin-right: 20px;
}

.nav-links{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      flex-grow: 1;
      gap: 4rem;
}



 .navWords:hover{

   color: #204b0c;
   
   
}
.navWords::before{
    content: "";
    position: absolute;
    display: block;
    width:100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    

}

a:hover::before{
    transform: scaleX(1);
}


label p{
    font-family: 'Monteserrat', sans-serif;
    font-size: 36px;
    color: white;
}




.form{
    padding-left: 42;
    margin-left: 4; 
    margin-top: 200px;
}

fieldset{

    margin-left: 30px;
    border-style: none;
    min-height: 286px ;
    max-width: 737px;

}

label, p, input {
    margin-left: 20px;
    padding: 20px;
    gap: 2rem;  

}

label,legend,p{
    
    margin-bottom: 10px;
    font-size: 23px;
    font-family: "Monteserrat", sans-serif;
    color: #fff;
}

h1{
    font-family: "Jaini", sans-serif;
    color: #fff;
    margin-left: 20px;
    font-size: 60px; ;
}

label, p{
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}

.slip{
    display: block;
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    left: 1000px;
    bottom: 1400px;
    height: 1431px;
    width: 648px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: #ECEEDF 0 20px 20px;
    box-shadow: #ECEEDF  0 30px 40px;
    box-shadow: #ECEEDF  0 40px 50px;
    box-shadow: #ECEEDF  0 50px 60px;
    box-shadow: #ECEEDF  0 70px 80px;
    box-shadow: #ECEEDF  0 90px 100px ;
    overflow: hidden;
    
}





.slip-text {
    font-family: "Jaini", sans-serif;
    font-size: 28px;
    color: black;
}

.slip-title{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    top: 50px;
    font-size: 40px;
    border-radius: 20px;
    color: black;
}

.slip-text h1{
    font-size: 50px;
}

.email-section{
    margin-top: 50px;}

.QButton,.MButton{
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 360px;
    height: 60px;
    gap: 2rem;
    border-radius: 10px;
    background-color: #a9b56b;
    box-shadow: #204b0c 0px 10px 20px;
    transition: all 0.2s ease-in-out;

}
.QButton:hover,.MButton:hover{
    background-color: #204b0c;
    box-shadow: #204b0c 0px 15px 25px;
    transform: translateY(-2px);
}

.MButton{
    margin-top: 20px;
}

.QButton{

}

.usermail{
    font-size: 20px;
    font-family: "Jaini", sans-serif;
    color: black;
    margin: 0;
}

.usernameInput{
    font-size: 20px;
    font-family: "Jaini", sans-serif;
    color: black;
    margin: 0;
}

.usermailInput{
    width: 360px;
    border-radius: 10px ;
    margin-bottom: 2rem;
    box-shadow: #204b0c 0px 15px 25px;
}

.email-section{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-left: 95px;
}
ul{
    margin-left: 50px;
    font-family: 'Jaini',sans-serif;
    font-size: 27px;
    font-weight: 200;
    line-height: 2;
}

.footer-text{
    position: fixed;
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

span{
    margin-top: 50px;
}